#nhs-inject {
    /*
    position:fixed;
    top:0;
    right:0;
    margin:1.62em;
    padding:0;
    z-index:9999;
    */
    font-size:12px;
}
#nhs-inject .nhs {
    font-size:12px;
    font-weight:bold;
    background-color:#069;
    color:white;
    text-transform:uppercase;
    font-style:italic;
    padding:1px;
}
#nhs-injection-presenter {
    z-index:9999;
}
