%h1 NHS Toolbar test page

:markdown
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
  non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  
  Asthma is a respiratory condition marked by spasms in the bronchi of the
  lungs, causing difficulty in breathing. It usually results from an allergic
  reaction or other forms of hypersensitivity. ORIGIN late Middle English :
  from medieval Latin asma, from Greek asthma, from azein ‘breathe hard.’